.header-first-text-desktop {
    color: #010032;
    font-family: 'Geologica', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.header-second-text-desktop {
    color: #010032;
    font-family: Geologica;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.header-third-text-desktop {
    color: #010032;
    font-family: Geologica;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.big-text-desktop {
    color: #010032;
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.medium-text-desktop {
    color: #010032;
    font-family: Geologica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.regular-text-desktop {
    color: #444;
    font-family: Geologica;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.2px;
}

.small-text-desktop {
    color: #444;
    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16.8px;
}