.header-first-text-desktop {
    color: var(--color-secondary-dark-blue);
    font-family: 'Geologica', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.header-second-text-desktop {
    color: var(--color-secondary-dark-blue);
    font-family: 'Geologica', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.header-third-text-desktop {
    color: var(--color-secondary-dark-blue);
    font-family: 'Geologica', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.big-text-desktop {
    color: var(--color-secondary-dark-blue);
    font-family: 'Geologica', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.8px;
}

.medium-text-desktop {
    color: var(--color-secondary-dark-blue);
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
}

.regular-text-desktop {
    color: var(--color-secondary-very-dark-gray);
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.2px;
}

.small-text-desktop {
    color: var(--color-secondary-very-dark-gray);
    font-family: 'Geologica', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16.8px;
}

a {
    text-decoration: none;
}