.news {
    display: flex;
    flex-direction: column;
    padding: 95px 255px;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__tags {
        display: flex;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
    }
}

.header-third-text-desktop.-news {
    font-weight: 600;
}

.news__nav button + button {
    margin-left: 20px;
}

.news__tags .tag-input + .tag-input {
    margin-left: 15px;
}

.small-text-desktop.-tag {
    color: var(--color-secondary-dark-gray);
    font-weight: 600;
}

.small-text-desktop.-tag.-selected {
    color: var(--color-secondary-white);
}